
#header-nav {
  background-color:#0117BF;
  border-radius: 0;
  border: 0;
  height: 75px;
  box-sizing: border-box;
  padding-right: 0px;
}


#searchbox{
  border-radius: 0;
  padding: 10px 10px 10px 10px;
  border: solid black;
}
body {
  font-size: 16px;
  color: #cdd5db;
  align-content: center;
}
form {
  align-content: center;
  padding-left: 20px;
}
h1 {
  color: #2a2a1e;
  font-size: 15px;
  padding-left: 10px;
  background-color: #cdd5db;
  padding: 10px 10px 10px 30px; 
}
h2 {
  color: #2a2a1e;
  font-weight: bold;
  font-size: 15px;
  padding-left: 30px;
  background-color: #cdd5db;
  padding: 10px 10px 10px 30px; 
}
.fieldbox {
  position: relative;
  clear: left, right;
  padding:10px 10px 10px 10px;
}
#waste {
  border-color: #fff;
}
.textstyle {
  color:#000;
  font-size: 20px;
  padding-left: 10px;
  position: relative;
  clear:right;
  box-sizing: border-box;
  padding-right: 0px;
  padding-bottom: 10px;
}
.textstyle1 {
  color:#fff;
  font-size: 20px;
  padding-left: 10px;
  position: relative;
  clear:right;
  box-sizing: border-box;
  padding-right: 0px;
  padding-bottom: 10px;
}
t {
  color:red;
  font-size:20px;
}
#Select-Franchise {
  color:#2a2a1e;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
}
#Select-branch {
  color:#2a2a1e;
  padding: 10px 10px 10px 10px;
  font-size: 20px;
}

#usernamebox {
  color:#2a2a1e;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
}

#passwordbox {
  color:#2a2a1e;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
}
#firstnamebox {
  color:#2a2a1e;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
}
#lastnamebox {
  color:#2a2a1e;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
}
#fathernamebox{
  color:#2a2a1e;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
}
#mobilenumberbox{
  color:#2a2a1e;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
}